<ScrollView>
  <StackLayout>
    <!-- WARNING!
         This uses ngFor which does not result in an optimised native component.
         If you need to display hundreds of items, better use a ListView
    -->
    <StackLayout class="bm-book-list-item item"
        *ngFor="let b of books"
        [book]="b"
        [nsRouterLink]="['books', b.isbn]">
    </StackLayout>
    <ActivityIndicator [busy]="!books"></ActivityIndicator>
    <Label *ngIf="books && !books.length" text="Es wurden noch keine Bücher eingetragen."></Label>
  </StackLayout>
</ScrollView>