<StackLayout>
  <GridLayout verticalAlignment="top" columns="*,*" rows="auto">
    <Button col="0" row="0" text="Home" nsRouterLink="home" nsRouterLinkActive="active"></Button>
    <Button col="1" row="0" text="Buecher" nsRouterLink="books" nsRouterLinkActive="active"></Button>
  </GridLayout>
  <router-outlet></router-outlet>
<StackLayout>

   <!--<TabView>
      <StackLayout *tabItem="{title: '1'}">
      <Label text="First tab item"></Label>
    </StackLayout>   
    <StackLayout *tabItem="{title: 'zwei'}">
      <Label text="2nd tab item"></Label>
    </StackLayout>
    </TabView>  -->

<!--
<div class="ui two item tabs menu">
  <a routerLink="home"  routerLinkActive="active" class="item">Home</a>
  <a routerLink="books" routerLinkActive="active" class="item">Bücher</a>
</div>
<router-outlet></router-outlet>
-->